<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="0.1" package="fleeandcatch.fleeandcatch">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<application android:label="FleeAndCatch_App.Droid" android:icon="@drawable/icon"></application>
</manifest>