<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="1.1.2.0" package="fleeandcatch.fleeandcatch" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="FleeAndCatch_App.Android" android:icon="@drawable/Scale_icon"></application>
</manifest>